.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  margin-top: 15px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

img {
  width: 50px;
  height: 50px;
}

.img-icon {
  margin-top: 0%;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  height: 20px;
}

mat-toolbar {
  border-bottom: solid rgb(41, 39, 39) 1px;
}

.search {
  margin-top: 30px;
  margin-left: 10px;
}

.input-search {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 600px;
  height: 0%;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 600px;
}
.icon-items {
  margin: 20px;
  padding: 5px;
  
}

.nav-list {
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;

  a {
    border-radius: 15%;
  }
  a:focus {
    background-color: #feefc3;
  }
}
