<div>
  <div class="container">
    <mat-card
      *ngFor="let item of notes"
      (mouseenter)="showPanel(item)"
      (mouseleave)="hidePanel()"
    >
      <div>
        <div (click)="openDialog(item)">
          <h2>{{ item.title }}</h2>
        </div>
        <div (click)="openDialog(item)">
          <h3>{{ item.description }}</h3>
        </div>
      </div>
      <div *ngIf="hovered && item === activeItem">
        <app-notepanel [childMessage]="item" (trashEvent)="receiveTrashMessage($event)"></app-notepanel>
      </div>
    </mat-card>
  </div>
</div>
